/*********************************COLOR GLOSSARY**************************************\
|*                                                                                   *|
|*    #Blue (header) : rgb(46, 117, 181) or #2E75B5                                  *|
|*    #Dark blue (hover on header, sidebar, iconbar) : rgb(38, 67, 120) or #264378   *|
|*    #Darker dark blue (hover on icon and side bar) : rgb(25, 50, 100) or #193264   *|
|*    #Grey (notification) : rgb(211, 211, 211) or #D3D3D3                           *|
|*    #Grey (date in notifcation) : rgb(125, 125, 125) or #7D7D7D                    *|
|*                                                                                   *|
|*                                                                                   *|
|**************************COLORS USED FOR THE LIST OF SENSORS************************|
|*                                                                                   *|
|*    #Blue (same as sidebar): rgb(38, 67, 120) or #264376                           *|
|*    #Red : rgb(199,85,102) or #C75566                                              *|
|*    #Green : rgb(33,155,117) or #219D75                                            *|
|*    #Yellow : rgb(221,172,38) or #DDAC26                                           *|
|*    #Purple : rgb(95,63,93) or #5F3F5D                                             *|
|*    #Dark grey : rgb(46,50,62) or #2E323E                                          *|
|*    #Orange : rgb(227,138,33) or #E38A21                                           *|
|*    #Light blue : rgb(13,190,200) or #0DBEC8                                       *|
|*    #Brown : rgb(80,36,11) or #50240B                                              *|
|*    #Pink : rgb(223,32,136) or #DF2088                                             *|
|*                                                                                   *|
\*************************************************************************************/


#main_home > div {
    display: flex;
    margin-right: 0;
    margin-bottom: 1em;
}


.iconPart {
    width: 8em;
    height: 7em;
    color: white;
    text-align: center;
}

.iconPartImage {
    width: 100%;
    height: 70%;
}

.iconPartImage img {
    width: auto;
    height: 100%;
}

.iconPartText {
    font-size: 0.9em;
}

.tablePart {
    display: flex;
    width: 100%;
    background: #F3F3F3;
}

.tablePart > div {
    display: flex;
}

.tablePartCells {
    width: 6em;
    height: 6em;
    margin-top: 0.5em;
    margin-left: 1.5em;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.tablePartCellsImage {
    width: 100%;
    height: 50%;
    margin-top: 0.4em;
    transition: 1s linear;
}

.tablePartCellsImage img {
    display: inline;
    width: auto;
    height: 100%;
}

.tablePartCellsText {
    margin-top: 0.4em;
    width: 100%;
    height: 30%;
    font-size: 0.8em;
}

.showChange {
    margin-bottom: 1em;
}

.showChange > div {
    margin-top: 1%;
    width: 100%;
    height: 2.2em;
    opacity: 0.8;
    border-radius: 7px;
    padding-top: 0.2em;
    position: relative;
    display: none;
}

#success {
    background-color: #52D0A8;
}

#failure {
    background-color: #D86677;
}

#information_delete {
    background-color: #2E323E;
}

.showChangeImage {
    position: absolute;
    border-radius: 100%;
    margin-left: 0.7em;
    width: 2em;
    height: 2em;
    background-color: #F8F8F8;
    text-align: center;
}

.showChangeImage > img {
    margin-top:1em;
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.3em;
}

.showChangeText {
    position: absolute;
    margin-left: 3.5em;
    margin-top: 0.4em;
    color: white;
}

#add_delete_cancel {
    display: flex;
    width: 100%;
}

#add_delete_cancel > button {
    width: 100%;
    min-height: 3em;
    height: auto;
    background-color: transparent;
    border: 0.2em solid #E3E3E3;
    cursor: pointer;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: 600;
}

#add_delete_cancel > button:hover {
    background-color: #E3E3E3;
}




.navigationSensor, .navigationRoom {
    text-align: left;
    position: absolute;
    background-color: #264376;
    height: 7.5em;
    margin-top: 0em;
    margin-left: 8.2em;
    color: white;
    font-size: 0.8em;
}

.navigationSensor::before, .navigationRoom::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: 100%;
    border-style: solid;
    margin-top: 3em;
    border-color: transparent #264376 transparent transparent ;
    border-width: 0.7em;
}

.navigationSensor > nav, .navigationRoom > nav  {
    height: 7.5em;
    width: 10em;
    overflow: hidden;
    overflow-y: scroll;
}

.navigationSensor > nav > li, .navigationRoom > nav > li {
    list-style-type: none;
    height: 1.5em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
}

.navigationSensor > nav > li:hover, .navigationRoom > nav > li:hover {
    background-color: #193264;
    filter: brightness(100%);
    cursor: pointer;
}
