/***********************************COLOR GLOSSARY************************************\
|*                                                                                   *|
|*    #Red (weakest strength) : rgb(192, 0, 0) or #C00000                            *|
|*    #Red (weak strength) : rgb(199, 85, 102) or #C75566                            *|
|*    #Yellow (medium strength) : rgb(221, 172, 38) or #DDAC26                       *|
|*    #Green (good strength) : rgb(33, 155, 117) or #219D75                          *|
|*    #Green (excellent strength) : rgb(84, 130, 53) or #548235                      *|
|*    #Grey (default color for strength bar) : rgb(211, 211, 211) or #D3D3D3         *|
|*                                                                                   *|
\*************************************************************************************/


#container_register {
    background-image: linear-gradient(rgb(25, 50, 100), rgb(38, 67, 120));
    width: 500px;
    height:570px;
    padding-bottom: 0.7%;  padding-top: 0.4%;
	font-family: sans-serif;
	border-radius: 2px;
    margin:0 auto;
}

#container_login {
    background-image: linear-gradient(rgb(25, 50, 100), rgb(38, 67, 120));
    width: 700px;
    height: 450px;
    padding-bottom: 2%;  padding-top: 0.2%;
	border-radius: 2px;
	font-family: sans-serif;
    margin: 0 auto;
}

.box {
    width: 80%;
    margin: 0 auto;
}

h3, p {
    text-align: center;
    color: white;
}

.box_textandicon {
    display: flex;
    width: 100%;
}

#register_box_text {
    width: 90%;
}

.iconImage {
    right:0;
}

.iconImage img {
    width: 40px;
    height: auto;
    margin-top:20px;
}

#login_box_text, #register_box_text {
    color: white;
    font-size: 20px;
    width: 90%;
}

#register_box_input {
    width:100%;
    padding-top: 10px;
}

#login_box_input {
    width:100%;
    padding-top: 60px;
}

.inputText input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
}

#login_box_input_suggestion {
    width: 100%;
    position: relative;
}
#login_box_input_suggestion > * {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;  padding-bottom: 10px;
}

#login_box_input_suggestion_text {
    color: white;
}

#login_box_input_suggestion_forgotPassword {
    position: absolute;
    right: 0;
}

#login_box_input_suggestion_forgotPassword  a, a:link, a:visited {
    text-decoration: none;
    color: white;
    outline: 0; /*remove the dotlines*/
}


.confirmButton button {
    width: 100%;
    margin: 8px 0;
    padding-top: 10px; padding-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.confirmButton button::-moz-focus-inner {
    border: 0; /*remove dotlines in Mozilla*/
}

.confirmButton button:hover {
    background-color: #E3E3E3;
    transition: 1s;
}

/**********STRENGTH OF PASSWORD**********/
#show_strength_box {
    display: flex; /*Set the divs to be side by side*/
}

#text_type_of_strength {
    width: 170px;
    color: white;
}

#show_strength_bar {
    margin-right: 0;
}
#show_strength_bar > div {
    display: inline-block;
    width: 25px;
    height: 10px;
    margin-top: 5px;
    background-color: #D3D3D3;
}

#show_warning {
    display: flex;
    height: 30px;
    width: 100%;
}


#warning_image > img {
    height: 30px;
}

#warning_message_box {
    width: 100%;
    position: relative;
}

#warning_message {
    position: absolute;
    bottom: 0;
    color: white;
}

.informationBubble {
    width: 1em;
    height: 1em;
    margin-left: 1em;
    border-radius: 100%;
    border: 2px solid #193264;
    background-color: #EEEEEE;
    position: absolute;
}

.informationBubble > img {
    width: 0.7em;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 1px;
    display: block;
}

.messageBox {
    position: absolute;
    background-color: #EEEEEE;
    font-size: 0.6em;
    width: 20em;
    margin-left: 3em;
    margin-top: -18em;
    padding: 1em;
    display: none;
}

.messageBox:before {
    position: absolute;
    bottom: 11%;
    height: 0;
    width: 0;
    right: 100%;
    border: 0.8em solid transparent;
    border-right-color: #EEEEEE;
    content: "";
}
