table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: center;
}

table {
    border-spacing: 5px;
    width: 100%;
}

table tr:nth-child(even) {
    background-color: rgb(66,70,82);
}

table tr:nth-child(odd) {
    background-color: transparent;
}

table th {
    color: white;
    background-color: transparent;
}

summary::-webkit-details-marker {
    display: none
}
