table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: center;
}

table {
    border-spacing: 5px;
    width: 100%;
}

table tr:nth-child(even) {
    background-color: transparent;
}

table tr:nth-child(odd) {
    background-color: transparent;
}

table th {
    color: white;
    background-color: transparent;
}

summary::-webkit-details-marker {
    display: none
}

#container_notif {
    background-image: linear-gradient(rgb(25, 50, 100), rgb(38, 67, 120));
    width: 80%;
    height:auto;
    padding: 2%;
	font-family: sans-serif;
	border-radius: 2px;
    margin-left: 10%;
    margin-top: 1%;
    color: white;
}

.confirmButton {
    text-align: center;
    margin-left:2%;
}

.confirmButton input {
    width: 100%;
    margin: 8px 0;
    padding-top: 10px; padding-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.confirmButton input::-moz-focus-inner {
    border: 0; /*remove dotlines in Mozilla*/
}

.confirmButton input:hover {
    background-color: #E3E3E3;
    transition: 1s;
}
