table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

table th, table td {
  text-align: left;
  padding: 12px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr#header{
  background-color: #f1f1f1;
}

table tr:hover {
  background-color: rgb(220, 220, 220);
}



[type="checkbox"] {
    content     : '✓';
    background: #f2f2f2;


}
