table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color:rgb(38, 67, 120)}

th {
    background-color: rgb(38, 67, 120);
    color: white;
}
</style>
<style>
table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
     text-align: left;
     padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgb(46, 117, 181);
    color: white;
}

#test {
    background-color: rgb(46, 117, 181);
    display: inline;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}