/*************************************COLOR GLOSSARY**********************************\
|*                                                                                   *|
|*    #Blue (header) : rgb(46, 117, 181) or #2E75B5                                  *|
|*    #Dark blue (hover on header, sidebar, iconbar) : rgb(38, 67, 120) or #264378   *|
|*    #Darker dark blue (hover on icon and side bar) : rgb(25, 50, 100) or #193264   *|
|*    #Grey (notification) : rgb(211, 211, 211) or #D3D3D3                           *|
|*    #Grey (date in notifcation) : rgb(125, 125, 125) or #7D7D7D                    *|
|*                                                                                   *|
\*************************************************************************************/



/**********************HEADER*********************/

body {
	font-family: "Gotham", Verdana, sans-serif;
	font-weight: 500;
}


.header {
    z-index:1;
    text-align: center;
    background: rgb(46, 117, 181);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  height: 5em;
}

.header_container {
    position: relative;
    display: flex;
}

#hamburger_button {
    background-color: white;
    margin-left: 9em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 2em;
    color: rgb(46, 117, 181);
    border-radius: 0.1em;
    cursor: pointer;
}

#header_right {
    color: white;
    display: flex;
    position:absolute;
    right:0;
    width: auto;
    height: 100%;
}

#header_right > div {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    margin-right: 0.5em;
    cursor: pointer;
}

#header_right .header_hover:hover {
    opacity: 0.7;
}

#header_right img {
    width: 3em;
    height: auto;
}

#profile {
    display: flex;
}

#profile_text {
    margin-top: 0.8em;
    margin-left: 0.3em;
    vertical-align: center;
}
/************************TOGGLE SWITCH******************************/
#toggle_button {
    padding-top: 0.8em;
    margin-left:35em;
}

.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid transparent; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Admin";
    padding-right: 20px;
    background-color: #C75566 ; color: white;
}
.onoffswitch-inner:after {
    content: "Client";
    padding-right: 10px;
    background-color: #264378; color: white;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 49px;
    border: 2px solid transparent; border-radius: 20px;
    transition: all 0.2s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*************SETTING OF THE NOTIFICATION POPUP*******************/
#notification {
    position: relative;
}

#how_many_notif {
    position: absolute;
    display: block;
    top: 2px;  right: 1.5px;
    width: 18px;  height: 18px;
    font-size: 13px;
    line-height:18px; /*put the number at the middle of the circle*/
    border-radius: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

#container_notification {
    z-index: 2;
    display: none;
    border-style: solid;
    border-radius: 2px;
    border-width: thin;
    border-color: #D3D3D3;
    border-top: none;
    width:400px;
    right: 14.3em;
    margin-top: 4.5em;
    position: absolute;
}

#container_notification div {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #D3D3D3;
}

#container_notification button {
    text-decoration: none;
    width: 100%;
    padding: 12px 0 12px 0;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: none;
}

#container_notification button:hover{
    background-color: #F0F8FF;
}

#notification_title, #notification_footer button {
    text-align: center;
}

#notification_title {
    padding: 10px 0 10px 0;
    background-color: white;
}

/*Setting of the popup arrow*/
#container_notification:before{
  position: absolute;
  bottom: 100%;
  height: 0;
  width: 0;
  right: 2%;
  border: 10px solid transparent;
  border-bottom-color: white;
  content: "";
}

.notificationDate {
    text-align: bottom;
    font-size: 8px;
    color: #7D7D7D;
}


/*************************SIDEBAR***************************/

/*The sidebar is open by default (client's recommendation) */

.sidebarContainer {
    z-index:2;
    width: 16em;
    background: rgb(38, 67, 120);
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

#elliot_icon {
    cursor: pointer;
}

#small_icon {
    display: none;
}

#small_icon img {
    width: auto;
    height: 4.5em;
    margin-top: 0.5em;
    margin-left: 0.7em;
    margin-bottom: 1.5em;
}

#big_icon {
    display: block;
}

#big_icon img {
    width: auto;
    height: 6em;
    margin-top: 0.5em;
    margin-left: 2em;
}

#main_sidebar {
    margin-top: 4em;
    color: white;
}

.elementsOfSidebar {
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.elementsOfSidebar:hover {
    background: rgb(25, 50, 100);
    transition: 0.5s; /*smooth display*/
}

.iconOfSidebar img {
    width: 2.7em;
    height: auto;
    margin-right: 0.8em;
    margin-left: 0.8em;
}


.textOfSidebar {
    display: block;
    vertical-align: middle;
    line-height: 2.7em; /*Same as width of .iconOfSidebar img to put it in the middle*/
}

/**********MAIN PART OF THE WEBSITE**********/
#main {
    padding-left: 17em;
    padding-top: 6em;
    transform-origin: right; /*when transforming, the right side will stay fixed*/
    z-index:0;
    text-align: none;
}
