#blockSupport {
    text-align: center;
    width: 50em;
    margin-left: 5%;
}

#blockSupport_header {
    font-size: 2em;
    color: rgb(38, 67, 120);
}

#blockSupport_main {
    text-align: center;
    margin-top: 1em;
    display: flex;
    padding-top: 1.5em;
    border-top: 1px solid black;
}

.blockSupportTable {
    width: 15em;
    border: 0.2em solid #E3E3E3;
    text-align: center;
    margin-right: 2em;
}

.blockSupportTable:hover {
    cursor: pointer;
    background-color: #F3F3F3;
}

.blockSupportTableImage {
    height: 7em;
}

.blockSupportTableImage img {
    margin-top: 0.5em;
    width: 7em;
    height: auto;
    text-align: center;
}

#ticket img {
    margin-top: 1em;
}

.blockSupportTableText {
    margin: 1em;
    text-align: left;
}
