<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Dashboard</title>
	</head>
    



	<body>
		<!-- Menu à gauche -->
		<nav>
        	<ul>
            	<li> <a href="dashboard.html"> Dashboard </a> </li>
                <li> <a href="gestion_capteurs_actionneurs.html"> Gestion Capteurs/Actionneurs </a> </li>
                <li> <a href="support.html"> Support </a> </li>
            </ul>  
        </nav>

        <!-- Header -->
        <a href="accueil.html"> ellIoT </a>
        <img src="menu.png" alt="icone du menu" />
        <a href ="notification.html"> <img src="cloche.png" alt="icone de cloche" /> </a>
        <img src="notification.png" alt="icone de notification" />
        <a href="profile.html"> <img src="user.png" alt="icone du user" /> Name Lastname </a>
        <a href="deconnexion.html"> <img src="porte.png" alt="icone de deco" /> </a>





	</body>
    
    <footer>
    	<p> Copyright Elliot 2017-2018 </p>
    </footer>
</html>