<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Page d'accueil </title>
	</head>
    
	<body>
		<nav>
        	<ul>
            	<li> <a href="dashboard.html"> Dashboard </a> </li>
                <li> <a href="gestion_capteurs_actionneurs.html"> Gestion Capteurs/Actionneurs </a> </li>
                <li> <a href="support.html"> Support </a> </li>
            </ul>  
        </nav>
		<h1>This is a Heading</h1>
		<p>This is a paragraph.</p>

	</body>
    
    <footer>
    	<p> Copyright Elliot
    </footer>
</html>